*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
#customerProfile{
    width: 100%;
    height: 100vh;
}
/**/
#cover1{
    width: 80%;
    height: 93%;
    position: absolute;
    margin: auto;
    top: 97px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #dfe6e9;
}
#bookingRequest{
    width: 100%;
    height: 100vh;
}
#cover2{
    width: 80%;
    height: 72%;
    position: relative;
    margin: auto;
    top: 173px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #dfe6e9;
}
#bookingRequest form{
    padding: 72px;
}
#bookingRequest section{
    padding: 30px;
}

#payment{
    width: 100%;
    height: 100vh;
}
#cover3{
    width: 80%;
    height: 73%;
    position: relative;
    margin: auto;
    top: 140px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #dfe6e9;
}
#paymentTable{
    padding: 95px;
}
